
  
.contenedorAnuncios{
	position: relative;
	display: flex;
  	flex-direction:row;
  	margin-left: 5rem;	
	right: 4rem;
}

  
.anuncios{
	position: relative;
	display: flex;
  	flex-direction:column;
	flex-wrap: wrap;	
 	margin-left: 1rem;
}

	.fotoVehiculo{
		width: 15rem; 
		height: 15rem; 
		background: #000000;
		margin-top: 5rem;
	}


.contenedorInformacion{
  position: relative;
	display: flex;
  	flex-direction:column;
	flex-wrap: wrap;
 	margin-left: 1rem;
	
}

  .informacionAnuncio{
    position: relative;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    margin-left: 5rem;
  
  }
  .informacion{
      width: 60rem; 
      height: 15rem; 
      background: #ffffff;
      margin-top: 5rem;
    }





  
	  
	  