

  
.figuras{
	position: relative;
	display: flex;
  	flex-direction:row;
  	margin-left: 5rem;	
	right: 4rem;
}

  
.cuadrados{
	position: relative;
	display: flex;
  	flex-direction:column;
	flex-wrap: wrap;	
 	margin-left: 1rem;
}

	.cuadrado1{
		width: 15rem; 
		height: 15rem; 
		background: #000000;
		margin-top: 5rem;
	}


.rectangulos{
  position: relative;
	display: flex;
  	flex-direction:column;
	flex-wrap: wrap;
 	 margin-left: 1rem;
}

  .rectangulo1{
    position: relative;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    margin-left: 10rem;

  
  }
  .rectangulo1_2{
      width: 60rem; 
      height: 15rem; 
      background: #ffffff;
      margin-top: 5rem;
    }

    .rectangulo2{
      position: relative;
      display: flex;
      flex-direction:column;
      flex-wrap: wrap;
      margin-left: 10rem;
    
    }
    .rectangulo2_2{
      width: 60rem; 
      height: 15rem; 
      background: #ffffff;
      margin-top: 5rem;

    }
	.rectangulo3{
		position: relative;
		display: flex;
		flex-direction:column;
		flex-wrap: wrap;
		margin-left: 10rem;
	  
	  }
	  .rectangulo3_2{
		width: 60rem; 
		height: 15rem; 
		background: #ffffff;
		margin-top: 5rem;
  
	  }

  
	  
	  