
body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #a2f0c4; 
	font-size: 1em;
	line-height: 1.5em;
}

h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}
p {
	margin: 0 0 1.5em 0;
}

.circulo{
	display: flex;
  	flex-direction:row;
	display: flex;
	flex-wrap: wrap;
	justify-content: center; /* centra horizontalmente */
  	align-items: center; /* centra verticalmente */
	margin-bottom: 5rem;
}

.circulo1{
	border-radius: 100%;
	background-color: rgb(0, 0, 0);
	height: 7em;
	width: 7em;
	margin-right: 2em;
  }


  .circuloInicioSesion {

	border-radius: 100%;
	background-color: rgb(0, 0, 0);
	height: 14em;
	width: 14em;
  }

.cuadrados{
	position: relative;
	display: flex;
  	flex-direction:row;
	flex-wrap: wrap;
	justify-content: center; /* centra horizontalmente */
  	align-items: center; /* centra verticalmente */
	margin-bottom:4rem;	

}

	.cuadrado1{
		width: 14rem; 
		height: 14rem; 
		background: #000000;
		margin-right: 5rem;
	}
	
#header {
	background: #014807;
	color: white;
	height: 5rem;
}	
#header a {
		color: white;
	}

/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	.site-name {
		display: block;
		font-weight: 700;
		font-size: 2rem;
		margin-top: 0.5rem;
	}
	
	
	

/*
 * Navegación
 */


nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}



/*Cuadro de texto genérico*/

.searchInput {
	border-radius: 5px;
	background-color: #ffffff;
	justify-content: center; 
  	align-items: center; 
	height: 40px;
	width: 60%;
	display: block;
  	margin-top: 5rem;
	margin-left: 17.5rem;
}


/*rectangulo copyright*/
#main-footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}