.formulario {
    width: 30rem;
    height: 50rem;
    border-radius: 10px;
    margin: 0 auto;
    font-family: Helvetica, Arial, sans-serif;
    background: rgb(209, 203, 203);
}

.formulario img {
    width: 50%;
    display: block;
    margin: 0 auto;
}
.formulario input {
    display: block;
    height: 40px;
    width: 75%;
    padding-left: 10px;
    color: black;
    border-radius: 10px;
    background-color: white;
}

.formulario text {
    margin-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    color: white;
}

.formulario button {
    color: white;
    margin: 0 auto;
    border-radius: 10px;
}
