.registration-form {
    max-width: 70rem;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin-bottom: 8rem;
  }
  .error-message {
    display: block;
    color: red;
    font-size: 0.7em;
    margin-top: 0.1em;
}

  
  .registration-form h2 {
    text-align: center;
    margin-bottom: 3rem;
  
  }
  
  .form-container {
    margin-bottom: 10px;
    margin-left: 3rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-grow: inherit;
    flex-wrap: wrap;
  }
  
  .form-group {
    margin-bottom: 10px;
    margin-top: 2rem;
    margin-left: 6rem;
    flex-direction: row;
    padding-right: 2rem;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  input[type="text"],
  input[type="date"] {
    display: block;
    width: 15rem;
    height: 1rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 16px;
  }
  
  button[type="submit"] {
    display: block;
    width: 20rem;
    margin-left: 25%;
    margin-top: 2rem;
    padding: 10px;
    background-color: #075e54;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  @media screen and (max-width: 768px) {
    
  
    .registration-form {
      max-width:30rem;
      max-height: 100rem;
      margin: 0 auto;
      padding: 20px;
      background-color: #f2f2f2;
      border-radius: 10px;
      margin-bottom: 8rem;
    }
  
    .form-container {
      margin-bottom: 10px;
      margin-left: 3rem;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-grow: inherit;
      flex-wrap: wrap;
    }
    
    .form-group {
      margin-bottom: 10px;
      margin-top: 2rem;
      margin-left: 8rem;
      flex-direction: row;
      padding-right: 2rem;
    }
  
  }
  
  
  
  
  
  
  @media screen and (max-width: 480px) {
  
    .registration-form {
      max-width: auto;
      margin: 0 auto;
      padding: 20px;
      background-color: #f2f2f2;
      border-radius: 10px;
      margin-bottom: 8rem;
    }
  
    .form-group {
      margin-bottom: 10px;
      margin-top: 2rem;
      margin-left: 2rem;
      flex-direction: row;
      padding-right: 1rem;
    }
  
    .form-container {
      margin-bottom: 10px;
      margin-left: 1rem;
      display: flex;
      flex-direction: row;
      flex-grow: inherit;
      flex-wrap: wrap;
    }
  
    button[type="button"] {
      display: block;
      width: 20rem;
      margin-left: 1rem;
      margin-top: 2rem;
      padding: 10px;
      background-color: #075e54;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }
    
  }