<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width">
    <title>Registro</title>
</head>

<body>
    <app-header></app-header>
    <form class="registration-form" #registerForm="ngForm" novalidate>
        <h2>Registro</h2>
        <div class="form-container">
            <div class="form-group">
                <label for="email">Correo electrónico:</label>
                <app-text-label [(ngModel)]="email" type="email" name="email" required></app-text-label>
                <app-error-message *ngIf="registerForm.submitted && registerForm.controls[email].invalid">Por favor,
                    introduce una
                    dirección de correo electrónico válida.</app-error-message>

                <label for="password">Contraseña:</label>
                <app-text-label [(ngModel)]="passwd1" type="password" name="password" required></app-text-label>
                <app-error-message *ngIf="registerForm.submitted && registerForm.controls[passwd1].invalid">Introduzca
                    una contraseña válida.</app-error-message>

                <label for="confirm-password">Confirmar contraseña:</label>
                <app-text-label [(ngModel)]="passwd2" type="password" name="confirm-password" required></app-text-label>
                <app-error-message *ngIf="registerForm.submitted && registerForm.controls['confirm-password'].invalid">
                    Por favor, confirme su contraseña.
                </app-error-message>
                <app-error-message *ngIf="!validatePasswordsMatch() && registerForm.controls['confirm-password'].touched">
                    Las contraseñas no coinciden.
                </app-error-message>

                <label for="address">Dirección:</label>
                <app-text-label [(ngModel)]="address" type="text" name="address" required></app-text-label>
                <app-error-message></app-error-message>

                <label for="phone">Número de teléfono:</label>
                <app-text-label [(ngModel)]="phone" type="tel" name="phone" required></app-text-label>
                <app-error-message></app-error-message>
            </div>

            <div class="form-group">
                <label for="first-name">Nombre:</label>
                <app-text-label [(ngModel)]="firstName" type="text" name="first-name" required></app-text-label>
                <app-error-message></app-error-message>

                <label for="last-name">Apellido:</label>
                <app-text-label [(ngModel)]="lastName" type="text" name="last-name" required></app-text-label>
                <app-error-message></app-error-message>

                <label for="username">Nombre de usuario:</label>
                <app-text-label [(ngModel)]="username" type="text" name="username" required></app-text-label>
                <app-error-message></app-error-message>

                <label for="birthdate"> Fecha de Nacimiento:</label>
                <app-text-label [(ngModel)]="birthDate" type="date" name="birthdate" required></app-text-label>
                <app-error-message></app-error-message>

            </div>

            <app-submit-button>Registrarse</app-submit-button>
        </div>
    </form>
    <app-footer></app-footer>
</body>

</html>