.usuarioFoto{
	background-color: rgb(140, 138, 138);
	height: 5em;
	width: 5em;
	background-size: cover;
	display: flex;
	flex-direction:row;
}

.usuarioFoto img {
	display: block;
	margin-top: 10%;
	margin-left: 15%;
	margin-right: 10%;
	max-width: 100%;
	height: 70%;
	background-size: cover;

}
.usuario{
	background-color: rgb(255, 255, 255);
	height: 5em;
	width: 10em;
	background-size: cover;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center; /* centra horizontalmente */
}

.items{
	height: auto;
	flex-direction:row;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: end; /* centra horizontalmente */
	margin-top: -6rem;
  }
.contenedorAnuncios{
	position: relative;
	display: flex;
  	flex-direction:row;
  	margin-left: 5rem;	
	right: 4rem;
}

  
.anuncios{
	position: relative;
	display: flex;
  	flex-direction:column;
	flex-wrap: wrap;	
 	margin-left: 1rem;
}

.fotoVehiculo{
	width: 15rem; 
	height: 15rem; 
	background: #000000;
	margin-top: 5rem;
}


.contenedorInformacion{
  position: relative;
	display: flex;
  	flex-direction:column;
	flex-wrap: wrap;
 	margin-left: 1rem;
	
}

.informacionAnuncio{
    position: relative;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    margin-left: 5rem;
  
}
.informacion{
    width: 60rem; 
    height: 15rem; 
    background: #ffffff;
    margin-top: 5rem;
    }





  
	  
	  