.contenedorProducto{
	position: relative;
	display: flex;
  flex-direction:row;
  margin-left: 5rem;	
  margin-right: 8rem;	
	right: 4rem;
  max-width: 140rem;
}
.OpcionesProducto{
	position: relative;
	display: flex;
  flex-direction:column;
	flex-wrap: wrap;	
 	margin-left: 1rem;
}

	.FotoProducto{
		width: 20rem; 
		height: 20rem; 
		background: #000000;
		margin-top: 0rem;
	}

 /* Rectangulo producto con la información*/
 .rectangulosProducto{
    position: relative;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    margin-left: 1rem;
    
}

  .contenedorInformacion{
    position: relative;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    margin-left: 5rem;
    overflow: hidden;
    
  }


  /*Descripcion del producto*/
  .informacion{
      width:auto; 
      height: 15rem; 
      background: #ffffff;
    }

    
    .contenedorFotosProducto{
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin-left: 5rem;
      margin-top: 3rem;
     
      background: #ffffff;
      justify-content: center;
      max-width: 60rem;

    }
    .cuadradoProductos{
      width: 12rem; 
      height: 12rem; 
      background: #000000;
      margin:1.75rem;

    }


    #form {
      width: 250px;
      margin: 0 auto;
      height: 50px;
    }
    
    #form p {
      text-align: center;
    }
    
    #form label {
      font-size: 20px;
    }
    
    input[type="radio"] {
      display: none;
    }
    
    label {
      color: grey;
    }
    /*
    .clasificacion {
      direction: rtl;
      unicode-bidi: bidi-override;
    }
    
    label:hover,
    label:hover ~ label {
      color: orange;
    }
    
    input[type="radio"]:checked ~ label {
      color: orange;
    }
    */

    .calificacionProducto {
      width: 113px;
      color: rgba(0,0,0,1);
      position: absolute;
      top: 10rem;
      left: 2.5rem;
      font-family: Helvetica, Arial, sans-serif;
      font-weight:100;
      font-size: 2rem;
      opacity: 1;
      text-align: left;
	    flex-direction:row;
	    display: flex;
      left: 0;
      align-items: center;
	
  
    
    }

    .chatUsuario{
      border-radius: 10%;
      background-color: rgb(255, 255, 255);
      height: 5em;
      width: 5em;
    
      background-size: cover;
      justify-content: center;
      position: relative;
      
      }
      .chatUsuario img {
      display: block;
      margin-top: 15%;
      margin-left: 15%;
      margin-right: 10%;
      max-width: 100%;
      height: 70%;
      background-size: cover;
      
      }
      .usuarioFoto{
        border-radius: 100%;
        background-color: rgb(255, 255, 255);
        height: 7em;
        width: 7em;
        margin-right: 2em;
        margin-top: 8rem;
        background-size: cover;
        display: flex;
  	    flex-direction:row;
        }
        .usuarioFoto img {
        display: block;
        margin-top: 10%;
        margin-left: 15%;
        margin-right: 10%;
        max-width: 100%;
        height: 70%;
        background-size: cover;
        
        }

        .usuario{
          background-color: rgb(255, 255, 255);
          height: 4em;
          width: 10em;
          margin-right: 2em;
          margin-top: 9rem;
          background-size: cover;
          display: flex;
          text-align: center;
          align-items: center;
          justify-content: center; /* centra horizontalmente */

          }


          .items{
            display: flex;
            flex-direction:row;
          }

      .chat{
      position: relative;
      display: flex;
      flex-direction:row;
      flex-wrap: wrap;
      align-items: end;

      }
    .textoProducto {
      width: 886px;
      color: rgba(0,0,0,1);
      position: absolute;
      top: 2.5rem;
      left: 2.5rem;

      font-family: Helvetica, Arial, sans-serif;
      font-weight:100;
      font-size: 1rem;
      opacity: 1;
      text-align: left;
      word-wrap:5rem;
	  line-height: 2rem;
    }

    /*Boton de alquilar*/
    button {
      font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
      font-size: 25px;
      padding: 1em 2.7em;
      font-weight: 500;
      width: 12rem;
      height: 5rem;
      background: #1F2937;
      color: white;
      border: none;
      left: auto;
      margin-top: 2rem;
      display: flex;
      justify-content: center; /* centra horizontalmente */

      margin-right: 4rem;
      position: relative;
      overflow: hidden;
      border-radius: 0.6em;
     }
     
     .gradient {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 0.6em;
      margin-top: -0.25em;
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
     }
     
     .label {
      position: relative;
      top: -1px;
     }
     
     .transition {
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
      transition-duration: 500ms;
      background-color: rgba(16, 185, 129, 0.6);
      border-radius: 9999px;
      width: 0;
      height: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
     }
     
     button:hover .transition {
      width: 14em;
      height: 14em;
     }
     
     button:active {
      transform: scale(0.97);
     }
    
  