.edicionUsuario{

    background-color: rgb(255, 255, 255);
    height: 4em;
    width: 4em;
    margin-top: -15rem;
    margin-left: 11rem;
    background-size: cover;
    justify-content: center;
    position: relative;
    
    }
    .edicionUsuario img {
    display: block;
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 10%;
    max-width: 100%;
    height: 70%;
    background-size: cover;
    }
    
.edicionUsuarioEliminar{

    background-color: rgb(255, 255, 255);
    height: 4em;
    width: 4em;
    margin-top: 7rem;
    margin-left: 11rem;
    background-size: cover;
    justify-content: center;
    position: relative;
    
    }
    .edicionUsuarioEliminar img {
    display: block;
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 10%;
    max-width: 100%;
    height: 70%;
    background-size: cover;
    }

    .usuarioFotoEdicion{
        border-radius: 100%;
        background-color: rgb(255, 255, 255);
        height: 12em;
        width: 12em;
        margin-left: 34em;
        margin-top: 4rem;
        background-size: cover;
        display: flex;
  	    flex-direction:row;
        }
        .usuarioFotoEdicion img {
        display: block;
        margin-top: 10%;
        margin-left: 15%;
        margin-right: 10%;
        max-width: 100%;
        height: 70%;
        background-size: cover;
        
        }



        .editarFoto{

            height: 4em;
            width: 4em;
            margin-left: 42.5em;
            margin-top: -4rem;
            background-size: cover;
            display: flex;
              flex-direction:row;
            }
            .editarFoto img {
            display: block;
            margin-top: 10%;
            margin-left: 15%;
            margin-right: 10%;
            max-width: 100%;
            height: 70%;
            background-size: cover;
            
            }

        .items{
            display: flex;
            flex-direction:row;
          }