.edicionUsuario{

    background-color: rgb(255, 255, 255);
    height: 4em;
    width: 4em;
    margin-top: -15rem;
    margin-left: 0;
    background-size: cover;
    justify-content: center;
    position: relative;
    
    }
    .edicionUsuario img {
    display: block;
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 10%;
    max-width: 100%;
    height: 70%;
    background-size: cover;
    }
    
.edicionUsuarioEliminar{

    background-color: rgb(255, 255, 255);
    height: 4em;
    width: 4em;
    margin-top: 7rem;
    margin-left: 0;
    background-size: cover;
    justify-content: center;
    position: relative;
    
    }
    .edicionUsuarioEliminar img {
    display: block;
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 20%;
    max-width: 100%;
    height: 70%;
    background-size: cover;
    }


.items2{
     height: auto;
    flex-direction:row;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: end; /* centra horizontalmente */
    margin-top: -2rem;
    margin-right: 5rem;
}

.editarFoto{

        height: 4em;
        width: 4em;
        margin-left: 42.5em;
        margin-top: -4rem;
        background-size: cover;
        display: flex;
        flex-direction:row;
}
.editarFoto img {
    display: block;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 10%;
    max-width: 100%;
    height: 70%;
    background-size: cover;
            
}

.items{
    display: flex;
    flex-direction:row;
}

.fotoVehiculo{
	width: 15rem; 
	height: 15rem; 
	background:transparent;
	margin-top: 4rem;
	margin-right: 10rem;
}

.fotoVehiculo img {

	width: 100%;
	height: auto;
	max-width: 15rem;
	max-height: 15rem;
	margin-top: 1.20rem;

}



@media screen and (max-width: 768px) {

    .edicionUsuario{

        background-color: rgb(255, 255, 255);
        height: 4em;
        width: 4em;
        margin-top: -10rem;
        margin-left: -1rem;
        background-size: cover;
        justify-content: center;
        position: relative;
        
        }
        .edicionUsuario img {
        display: block;
        margin-top: 15%;
        margin-left: 15%;
        margin-right: 10%;
        max-width: 100%;
        height: 70%;
        background-size: cover;
        }
        
    .edicionUsuarioEliminar{
    
        background-color: rgb(255, 255, 255);
        height: 4em;
        width: 4em;
        margin-top: 7rem;
        margin-left: -1rem;
        background-size: cover;
        justify-content: center;
        position: relative;
        
        }
        .edicionUsuarioEliminar img {
        display: block;
        margin-top: 15%;
        margin-left: 15%;
        margin-right: 20%;
        max-width: 100%;
        height: 70%;
        background-size: cover;
        }



          
}


@media screen and (max-width: 480px) {

    .edicionUsuario{

        background-color: rgb(255, 255, 255);
        height: 2em;
        width: 2em;
        margin-top: -9rem;
        margin-left: -0.5rem;
        background-size: cover;
        justify-content: center;
        position: relative;
        
        }
        .edicionUsuario img {
        display: block;
        margin-top: 15%;
        margin-left: 15%;
        margin-right: 10%;
        max-width: 100%;
        height: 40%;
        background-size: cover;
        }
        
    .edicionUsuarioEliminar{
    
        background-color: rgb(255, 255, 255);
        height: 2em;
        width: 2em;
        margin-top: 5.5rem;
        margin-left: -0.5rem;
        background-size: cover;
        justify-content: center;
        position: relative;
        
        }
        .edicionUsuarioEliminar img {
        display: block;
        margin-top: 15%;
        margin-left: 15%;
        margin-right: 20%;
        max-width: 100%;
        height: 70%;
        background-size: cover;
        }



          
}
