/*Foto de usuario*/
.usuarioFotoEdicion{
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    height: 12em;
    width: 12em;
    margin-left: 28em;
    margin-top: 4rem;
    background-size: cover;
    display: flex;
      flex-direction:row;
    }
    .usuarioFotoEdicion img {
    display: block;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 10%;
    max-width: 100%;
    height: 70%;
    background-size: cover;
    
    }
/*Enlace a Anuncios*/

    .texto-bonito {
        font-family: Arial, sans-serif; /* Fuente del texto */
        font-size: 18px; /* Tamaño de fuente del texto */
        color: #333; /* Color del texto */
        text-align: center; /* Centra el texto */
        margin: 50px auto; /* Margen superior e inferior de 50px, centrado horizontalmente */
        max-width: 600px; /* Ancho máximo del elemento */
        line-height: 1.5; /* Altura de línea del texto */
      }
      
      .texto-bonito a {
        color: #007bff; /* Color del enlace */
        text-decoration: none; /* Elimina la subrayado del enlace */
        border-bottom: 2px solid #007bff; /* Agrega una línea debajo del enlace */
        transition: all 0.2s ease-in-out; /* Agrega una transición suave al enlace */
      }
      
      .texto-bonito a:hover {
        color: #0069d9; /* Cambia el color del enlace al pasar el cursor sobre él */
        border-bottom: 2px solid #0069d9; /* Cambia el color de la línea debajo del enlace */
      }


  @media screen and (max-width: 768px)  {
    /*Foto de usuario*/
    .usuarioFotoEdicion{
        border-radius: 100%;
        background-color: rgb(255, 255, 255);
        height: 6em;
        width: 6em;
        margin-left: 20rem;
        margin-top: 2rem;
        margin-bottom: 4rem;
        background-size: cover;
        display: flex;
        flex-direction:row;
    }
    .usuarioFotoEdicion img {
        display: block;
        margin-top: 10%;
        margin-left: 15%;
        margin-right: 10%;
        max-width: 100%;
        height: 70%;
        background-size: cover;
                
    }
}

@media screen and (max-width: 480px) {
   /*Foto de usuario*/
   .usuarioFotoEdicion{
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    height: 6em;
    width: 6em;
    margin-left: 7rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    background-size: cover;
    display: flex;
    flex-direction:row;
}
.usuarioFotoEdicion img {
    display: block;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 10%;
    max-width: 100%;
    height: 70%;
    background-size: cover;
            
}
}