.ajusteAnuncio{
    margin-left:-10rem;
}
.chatUsuario{
    border-radius: 10%;
    background-color: rgb(255, 255, 255);
    height: 5em;
    width: 5em;
  
    background-size: cover;
    justify-content: center;
    position: relative;
    
    }
    .chatUsuario img {
    display: block;
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 10%;
    max-width: 100%;
    height: 70%;
    background-size: cover;
    }