/*Circulos de selección de vehiculos*/


.cuadradoNegro {
    width: 15rem;
    height: 200px;
    background-color: transparent;
    margin: 0 1rem 2rem 1rem;
}
.cuadradoNegro img{
    width: 100%;
	height: auto;
	max-width: 15rem;
	max-height: 15rem;
	margin-top: 1.20rem;
}


.VehiculosDestacados{
	position: relative;
	display: flex;
  	flex-direction:row;
	flex-wrap: wrap;
	justify-content: center; /* centra horizontalmente */
  	align-items: center; /* centra verticalmente */
	margin-bottom:4rem;	


}
	.VehiculoDestacado{
		width: 14rem; 
		height: 14rem; 
		background: #000000;
		margin-right: 3rem;
		margin-bottom: 3rem;
	}
	
  /*Flechas*/
