<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Inicio de Sesión</title>
    <meta name="viewport" content="width=device-width">
</head>

<body>


    <form class="form" #loginForm="ngForm" (ngSubmit)="validateLogIn(loginForm)" novalidate>
        <input [(ngModel)]="email" name="email" placeholder="Correo electrónico" class="input" type="email"
            required>
        <p class="error-message" *ngIf="loginForm.submitted && !validateMail()">Por favor, introduce una
            dirección de correo electrónico válida.</p>
        <input [(ngModel)]="passwd" name="passwd" placeholder="Contraseña" class="input" type="password"
            required>
        <p class="error-message" *ngIf="loginForm.submitted && !validatePass()">Por favor, introduce una
            contraseña válida, mínimo 8 caracteres.</p>
        <button type="submit" class="loginBtn" [disabled]="loginForm.invalid ?? false">Iniciar Sesión</button>
        <a id="forgotPassword" href="#">Contraseña olvidada</a>
        <button class="create" id="createAccountBtn" formnovalidate>
            <a href="" style="color: inherit; text-decoration: none;">
                Crea una cuenta
            </a>
        </button>
    </form>

</body>

</html>