.chat-container {
    display: flex;
    flex-direction: column;
    height: 75%;
    width: 75%;
    margin-left: 10%;
    margin-bottom: 5rem;
    margin-top: -4rem;
  }
  .chat-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #075e54;
    color: #fff;
  }
  
  .chat-header img {
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .chat-body {
    flex: 1;
    overflow-y: scroll;
    padding: 10px;
    background-color: #f2f2f2;
  }
  
  .message {
    display: inline-block;

    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .received {
    background-color: #fff;
    float: left;
    height:2rem;
    margin-top: 2rem;
    margin-bottom: 25rem;
  }
  
  .sent {
    background-color: #dcf8c6;
    float: right;
    height:2rem;
  }
  
  .metadata {
    display: block;
    font-size: 12px;
    color: #999;
    margin-top: 5px;
    height:30rem;
  }
  
  .chat-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f2f2f2;
  }
  
  .chat-footer input[type="text"] {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
  }
  
  .chat-footer button {
    padding: 10px 20px;
    background-color: #075e54;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
  }