.contenedorProducto{
    position: relative;
    display: flex;
    flex-direction:row;
    margin-left: 5rem;	
    margin-right: 8rem;	
    right: 4rem;
    max-width: 140rem;
    }

.OpcionesProducto{
	position: relative;
	display: flex;
  flex-direction:column;
	flex-wrap: wrap;	
 	margin-left: 1rem;
}

	.FotoProducto{
		width: 25rem; 
		height: 25rem; 
		background: #000000;
		margin-top: 0rem;
	}

 /* Rectangulo producto con la información*/
 .rectangulosProducto{
    position: relative;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    margin-left: 1rem;
    
}

  .contenedorInformacion{
    position: relative;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    margin-left: 5rem;
    overflow: hidden;
    
  }


  /*Descripcion del producto*/
  .informacion{
      width:auto; 
      height: 15rem; 
      background: #ffffff;
    }

    
    .contenedorFotosProducto{
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin-left: -26rem;
      margin-top: 14rem;
      width: 90rem; 
      height: 50rem; 
      background: #ffffff;


    }
    .cuadradoProductos{
      width: 17rem; 
      height: 17rem; 
      background: #000000;
      margin:1.75rem;

    }


    #form {
      width: 250px;
      margin: 0 auto;
      height: 50px;
    }
    
    #form p {
      text-align: center;
    }
    
    #form label {
      font-size: 20px;
    }
    
    input[type="radio"] {
      display: none;
    }
    
    label {
      color: grey;
    }
    /*
    .clasificacion {
      direction: rtl;
      unicode-bidi: bidi-override;
    }
    
    label:hover,
    label:hover ~ label {
      color: orange;
    }
    
    input[type="radio"]:checked ~ label {
      color: orange;
    }
    */
    .edicionUsuarioEliminar{

        background-color: rgb(255, 255, 255);
        height: 4em;
        width: 4em;
        margin-top: 2rem;
        margin-left: -7rem;
        margin-right: 2rem;
        background-size: cover;
        justify-content: center;
        position: relative;
        
        }
        .edicionUsuarioEliminar img {
        display: block;
        margin-top: 15%;
        margin-left: 15%;
        margin-right: 10%;
        max-width: 100%;
        height: 70%;
        background-size: cover;
        }

        

        
        


        @media screen and (max-width: 650px) {

          .contenedorProducto{
            position: relative;
            display: flex;
            flex-direction:row;
            margin-left: 5rem;	
            margin-right: 8rem;	
            right: 4rem;
            max-width: 70rem;
            }
        
        .OpcionesProducto{
          position: relative;
          display: flex;
          flex-direction:column;
          flex-wrap: wrap;	
           margin-left: 1rem;
        }
        
          .FotoProducto{
            width: 10rem; 
            height: 10rem; 
            background: #000000;
            margin-top: 0rem;
          }
        
         /* Rectangulo producto con la información*/

          /* Rectangulo producto con la información*/
        .rectangulosProducto{
          position: relative;
          display: flex;
          flex-direction:column;
          flex-wrap: wrap;
          margin-left: 1rem;
          
        }


          .contenedorInformacion{
            position: relative;
            display: flex;
            flex-direction:column;
            flex-wrap: wrap;
            margin-left: -12rem;
            margin-top: 12rem;
            overflow: hidden;
            
          }
        
        
          /*Descripcion del producto*/
          .informacion{
              width:10; 
              height: 15rem; 
              background: #ffffff;
              
            
            }
            
            .contenedorFotosProducto{
              position: relative;
              display: flex;
              flex-wrap: wrap;
              margin-left: -12rem;
              margin-top: 5rem;
              width: 28rem; 
              height: 25rem; 
              background: #ffffff;
        
        
            }
            .cuadradoProductos{
              width: 5rem; 
              height: 5rem; 
              background: #000000;
              margin:1rem;
        
            }
        
        
            #form {
              width: 250px;
              margin: 0 auto;
              height: 50px;
            }
            
            #form p {
              text-align: center;
            }
            
            #form label {
              font-size: 20px;
            }
            
            input[type="radio"] {
              display: none;
            }
            
            label {
              color: grey;
            }
            /*
            .clasificacion {
              direction: rtl;
              unicode-bidi: bidi-override;
            }
            
            label:hover,
            label:hover ~ label {
              color: orange;
            }
            
            input[type="radio"]:checked ~ label {
              color: orange;
            }
            */
            .edicionUsuarioEliminar{
        
                background-color: rgb(255, 255, 255);
                height: 1em;
                width: 1em;
                margin-top: 2rem;
                margin-left: -6rem;
                margin-right: 5rem;
                background-size: cover;
                justify-content: center;
                position: relative;
                
                }
                .edicionUsuarioEliminar img {
                display: block;
                margin-top: 15%;
                margin-left: 15%;
                margin-right: 10%;
                max-width: 100%;
                height: 70%;
                background-size: cover;
                }



        }